body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    text-transform: uppercase;
    text-shadow: 3px 2px 2px rgb(96, 94, 94);
    color: indigo;
}


#Password{
    width: 610px;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 33px;
    color: rgb(247, 248, 248);
    height: 80px;
    appearance: none;
    transition: border 0.15s ease 0s;   
}
#Password:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}
