@font-face {
    font-family: "CormorantGaramond";
    src: url(font/CormorantGaramond-SemiBold.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.container h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(96, 94, 94);
  color: rgb(31, 3, 52);
  font-family: "CormorantGaramond";
}

#Password {
  width: 610px;
  padding: 6px 12px;
  background: rgb(31, 32, 35);
  border: 1px solid rgb(60, 63, 68);
  border-radius: 10px;
  font-size: 33px;
  color: rgb(247, 248, 248);
  height: 80px;
  appearance: none;
  transition: border 0.15s ease 0s;
  margin-top: 50px;
}
#Password:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(100, 153, 255);
}

.text_div {
  position: relative;
}
.fa-repeat {
  position: absolute;
  font-size: 45px;
  right: 10px;
  top: 73px;
  color: white;
  cursor: pointer;
}

#main {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#main p{
    font-size: 20px;
}
.container h4{
text-align: center;
font-size: 18px;
font-weight: bold;
}
.sub-cont{
    width: 95%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.logo img{
    padding-right: 80px;
    height: 274px;
    width: 450px;
}